extends layout

block content
    .container.-fixed
        form(action="/auth" method="POST").form.auth-form
            .form-row
                label(for="email") Введите электронную почту:
                input(type="email" name="email" id="email")
            .form-row.-hidden
                label(for="token") Введите токен:
                input(type="text" name="token" id="token")
            .form-footer
                button(type="submit") Получить токен
        .error
            span