.actions
    a(href='/users' title='Пользователи').icon-btn
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480")
            path(d="M429.688 90.304l-40-40a8 8 0 0 0-10.04-1.04L335.2 78.4l-47.928-20-7.352-51.536A7.999 7.999 0 0 0 272 0h-64a7.999 7.999 0 0 0-7.92 6.864L192.72 58.4l-47.88 20-44.456-29.12a8 8 0 0 0-10.04 1.04l-40 40a8 8 0 0 0-1.024 10.056l29.6 44.96-4.96 11.464 14.688 6.352 6.68-15.424a8 8 0 0 0-.664-7.584l-28.416-43.12L97.04 66.232l42.576 27.888a8.088 8.088 0 0 0 7.48.688l56-23.448a7.999 7.999 0 0 0 4.8-6.248L214.936 16h50.128l7.016 49.136a7.999 7.999 0 0 0 4.8 6.248l56 23.432a8.072 8.072 0 0 0 7.472-.688l42.592-27.872 31.008 31.008-20.8 35.2a8 8 0 0 0-.608 6.896l8.872 23.432 14.968-5.664-7.512-19.832 22.04-37.264a8 8 0 0 0-1.224-9.728zM325.656 306.344l-24-24A8 8 0 0 0 296 280H184a8 8 0 0 0-5.656 2.344l-24 24A8 8 0 0 0 152 312v160a8 8 0 0 0 8 8h160a8 8 0 0 0 8-8V312a8 8 0 0 0-2.344-5.656zM267.312 296h25.376L264 324.688 251.312 312l16-16zm-14.624 40l-10.344 10.344A7.95 7.95 0 0 0 240 352a7.998 7.998 0 0 0-2.344-5.6L227.312 336 240 323.312 252.688 336zm-8-40L240 300.688 235.312 296h9.376zm-32 0l16 16L216 324.688 187.312 296h25.376zM209 464h-41V315.312l8-8 34.344 34.344 13.2 13.2L209 464zm16.144 0l14.784-110.944a7.2 7.2 0 0 0 .072-1.016c.002.513.055 1.025.16 1.528L262.24 464h-37.096zM312 464h-33.44l-21.872-109.368 12.968-12.976L304 307.312l8 8V464z" fill="#555")
            path(d="M296 104h-72c-26.499.026-47.974 21.501-48 48v48c.04 35.33 28.67 63.96 64 64 35.33-.04 63.96-28.67 64-64v-88a8 8 0 0 0-8-8zm-8 96c0 26.51-21.49 48-48 48s-48-21.49-48-48v-32h64a47.75 47.75 0 0 0 32-12.32V200zm-32-48h-64c0-17.673 14.327-32 32-32h64c0 17.673-14.327 32-32 32zM477.656 338.344l-24-24A8 8 0 0 0 448 312h-64a8 8 0 0 0-5.656 2.344l-24 24A8 8 0 0 0 352 344v128a8 8 0 0 0 8 8h112a8 8 0 0 0 8-8V344a8 8 0 0 0-2.344-5.656zM464 464h-40V344h-16v120h-40V347.312l16-16 18.344 18.344L408 344l5.656-5.656L403.312 328h26.008l-10.808 10.168L424 344l5.488 5.832 19.072-17.96 15.44 15.44V464zM424 176h-15.736c-22.02.044-39.881 17.844-40 39.864l-.128 40.056c-.088 26.465 21.294 47.991 47.76 48.08h.16c26.457-.031 47.9-21.463 47.944-47.92V216c-.026-22.08-17.92-39.974-40-40zm-39.736 39.92c.043-13.121 10.616-23.776 23.736-23.92.001 13.152-10.584 23.855-23.736 24v-.08zM448 256.056c-.031 17.62-14.3 31.9-31.92 31.944-17.629 0-31.92-14.291-31.92-31.92V256l.08-24A39.998 39.998 0 0 0 416 216a40 40 0 0 0 32 16v24.056zM424 192c13.255 0 24 10.745 24 24-13.255 0-24-10.745-24-24zM125.656 338.344l-24-24A8 8 0 0 0 96 312H32a8 8 0 0 0-5.656 2.344l-24 24A8 8 0 0 0 0 344v128a8 8 0 0 0 8 8h112a8 8 0 0 0 8-8V344a8 8 0 0 0-2.344-5.656zM112 464H72V344H56v120H16V347.312l16-16 18.344 18.344L56 344l5.656-5.656L51.312 328H77.32l-10.808 10.168L72 344l5.488 5.832 19.072-17.96 15.44 15.44V464zM72 176H56.264c-22.02.044-39.881 17.844-40 39.864l-.128 40.056c-.088 26.465 21.294 47.991 47.76 48.08h.16c26.457-.031 47.9-21.463 47.944-47.92V216c-.026-22.08-17.92-39.974-40-40zm0 16a24 24 0 0 1 22.528 16H80a24 24 0 0 1-22.528-16H72zm-32 6.464v1.464a7.887 7.887 0 0 1-2.36 5.664 7.615 7.615 0 0 1-3.768 2A24.01 24.01 0 0 1 40 198.464zm56 57.616c-.044 17.611-14.309 31.876-31.92 31.92-17.629 0-31.92-14.291-31.92-31.92V256l.104-32.064a23.786 23.786 0 0 0 16.688-6.968 24.38 24.38 0 0 0 3.336-4.224A39.816 39.816 0 0 0 80 224h16v32.08z" fill="#555")
    button(type='button' title='Импортировать').import.icon-btn
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.3 486.3")
            g(fill="#555")
                path(d="M395.5 135.8c-5.2-30.9-20.5-59.1-43.9-80.5-26-23.8-59.8-36.9-95-36.9-27.2 0-53.7 7.8-76.4 22.5-18.9 12.2-34.6 28.7-45.7 48.1-4.8-.9-9.8-1.4-14.8-1.4-42.5 0-77.1 34.6-77.1 77.1 0 5.5.6 10.8 1.6 16C16.7 200.7 0 232.9 0 267.2c0 27.7 10.3 54.6 29.1 75.9 19.3 21.8 44.8 34.7 72 36.2h86.8c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5h-85.6C61.4 349.8 27 310.9 27 267.1c0-28.3 15.2-54.7 39.7-69 5.7-3.3 8.1-10.2 5.9-16.4-2-5.4-3-11.1-3-17.2 0-27.6 22.5-50.1 50.1-50.1 5.9 0 11.7 1 17.1 3 6.6 2.4 13.9-.6 16.9-6.9 18.7-39.7 59.1-65.3 103-65.3 59 0 107.7 44.2 113.3 102.8.6 6.1 5.2 11 11.2 12 44.5 7.6 78.1 48.7 78.1 95.6 0 49.7-39.1 92.9-87.3 96.6h-73.7c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h75.2c30.5-2.2 59-16.2 80.2-39.6 21.1-23.2 32.6-53 32.6-84-.1-56.1-38.4-106-90.8-119.8z")
                path(d="M324.2 280c5.3-5.3 5.3-13.8 0-19.1l-71.5-71.5c-2.5-2.5-6-4-9.5-4s-7 1.4-9.5 4l-71.5 71.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4l48.5-48.5v222.9c0 7.5 6 13.5 13.5 13.5s13.5-6 13.5-13.5V231.5l48.5 48.5c5.2 5.3 13.7 5.3 19 0z")
    button(type='button' title='Экспортировать').export.icon-btn
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 502 502")
            g(fill="#555")
                path(d="M491.951 414.346l-66.37-66.37a24.218 24.218 0 0 0-26.468-5.264 24.214 24.214 0 0 0-14.993 22.438v9.98a4.292 4.292 0 0 1-4.287 4.287h-6.713V103c0-2.652-1.054-5.196-2.929-7.071l-93-93A10.001 10.001 0 0 0 270.12 0h-253c-5.523 0-10 4.477-10 10v482c0 5.523 4.477 10 10 10h346c5.523 0 10-4.477 10-10v-28.583h6.713a4.292 4.292 0 0 1 4.287 4.287v9.98a24.214 24.214 0 0 0 14.993 22.438 24.327 24.327 0 0 0 9.319 1.861 24.225 24.225 0 0 0 17.149-7.125l66.37-66.37a10.001 10.001 0 0 0 0-14.142zM280.12 34.142L338.978 93H280.12V34.142zm73 447.858h-326V20h233v83c0 5.523 4.477 10 10 10h83v266.417h-21c-5.523 0-10 4.477-10 10v64c0 5.523 4.477 10 10 10h21V482zm58.318-1.284c-1.762 1.763-3.683 1.338-4.672.929-.988-.41-2.646-1.468-2.646-3.961v-9.98c0-13.392-10.895-24.287-24.287-24.287H342.12v-44h37.713c13.392 0 24.287-10.895 24.287-24.287v-9.98c0-2.492 1.658-3.551 2.646-3.96.988-.41 2.91-.834 4.672.929l59.299 59.298-59.299 59.299z")
                path(d="M77.62 174h165.5c5.523 0 10-4.477 10-10s-4.477-10-10-10H77.62c-5.523 0-10 4.477-10 10s4.477 10 10 10zM302.62 220h-225c-5.523 0-10 4.477-10 10s4.477 10 10 10h225c5.523 0 10-4.477 10-10s-4.477-10-10-10zM302.62 286h-225c-5.523 0-10 4.477-10 10s4.477 10 10 10h225c5.523 0 10-4.477 10-10s-4.477-10-10-10zM302.62 352h-225c-5.523 0-10 4.477-10 10s4.477 10 10 10h225c5.523 0 10-4.477 10-10s-4.477-10-10-10zM302.62 154h-22c-5.523 0-10 4.477-10 10s4.477 10 10 10h22c5.523 0 10-4.477 10-10s-4.477-10-10-10z")
    button(type='button' title='Синхронизировать с БД').icon-btn.sync
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 59")
            g(fill="#555")
                path(d="M55.199 47.02a1 1 0 0 0-1.18.781C52.903 53.303 48.574 57 43.249 57c-5.028 0-9.446-3.3-10.948-8H37v-2h-8v8h2v-3.849C33.169 55.833 37.915 59 43.249 59c6.304 0 11.42-4.341 12.731-10.801a1 1 0 0 0-.781-1.179zM55 35v4.309C52.75 34.854 48.296 32 43.249 32c-6.109 0-11.541 3.997-13.209 9.721a1 1 0 1 0 1.92.558C33.358 37.482 38.105 34 43.249 34c4.565 0 8.562 2.766 10.33 7H49v2h8v-8h-2z")
                path(d="M27 41.185c-.827 0-1.637-.016-2.432-.044-.483-.018-.95-.049-1.422-.076-.296-.017-.6-.028-.891-.049a59.02 59.02 0 0 1-1.835-.165c-.118-.012-.242-.021-.359-.034a54.55 54.55 0 0 1-2.012-.257l-.066-.009c-3.382-.5-6.284-1.261-8.554-2.167l-.044-.017c-.417-.167-.807-.34-1.18-.516-.045-.021-.093-.042-.138-.064a16.347 16.347 0 0 1-.94-.494c-.072-.041-.146-.081-.216-.122a11.448 11.448 0 0 1-.718-.461c-.087-.061-.177-.121-.259-.182a8.174 8.174 0 0 1-.524-.425c-.09-.079-.18-.157-.261-.237a5.21 5.21 0 0 1-.582-.668 3.729 3.729 0 0 1-.231-.369 2.449 2.449 0 0 1-.259-.659c-.036-.162-.077-.325-.077-.485v-8.207c.028.026.063.051.092.077.218.191.44.382.69.566 3.767 2.85 11.301 5.063 22.219 5.063 10.872 0 18.386-2.196 22.169-5.028.302-.22.574-.447.83-.678h.001v3.707a1 1 0 1 0 2 0v-20a.98.98 0 0 0-.115-.444C50.695 3.769 40.195 0 27 0 13.805 0 3.304 3.769 2.115 8.74A.98.98 0 0 0 2 9.185v37c0 .161.042.313.115.448 1.139 4.833 10.691 7.68 19.81 8.364a.998.998 0 0 0 1.072-.922 1 1 0 0 0-.922-1.072c-11.114-.834-17.591-4.219-18.043-6.98A.963.963 0 0 0 4 45.892v-8.414c.028.026.063.051.092.077.218.191.44.382.69.566 3.767 2.85 11.301 5.063 22.219 5.063A1 1 0 1 0 27 41.185zM4.601 13.981c.3.236.624.469.975.696.073.047.155.093.231.14.295.183.605.363.933.538a21.377 21.377 0 0 0 1.518.735c.066.029.126.059.193.087.469.199.967.389 1.485.572.143.051.293.099.44.149.412.139.838.272 1.279.401.159.046.315.094.478.139.585.162 1.189.316 1.823.458.087.02.181.037.269.056a43.778 43.778 0 0 0 2.348.444c.567.093 1.151.179 1.75.257.154.02.301.042.457.062.744.09 1.514.167 2.305.233.195.016.398.028.596.042.633.046 1.28.084 1.942.114.241.011.481.022.727.03.863.03 1.741.05 2.65.05s1.788-.021 2.65-.05c.245-.008.485-.02.727-.03.662-.03 1.309-.068 1.942-.114.198-.015.4-.026.596-.042a60.436 60.436 0 0 0 2.305-.233c.156-.019.303-.042.457-.062a53.904 53.904 0 0 0 2.363-.361 43.778 43.778 0 0 0 1.735-.34c.088-.019.182-.036.269-.056a37.577 37.577 0 0 0 1.823-.458c.163-.045.319-.092.478-.139.441-.128.867-.262 1.279-.401.147-.05.297-.098.44-.149a27.194 27.194 0 0 0 1.485-.572c.067-.028.127-.059.193-.087a21.377 21.377 0 0 0 1.518-.735c.327-.175.638-.354.932-.538.076-.047.158-.093.231-.14.351-.227.675-.459.975-.696.075-.06.142-.12.215-.18.13-.108.267-.215.387-.324v8.207c0 .161-.041.323-.079.485a2.412 2.412 0 0 1-.116.362 3.39 3.39 0 0 1-.593.943 5.63 5.63 0 0 1-.363.391c-.082.08-.171.158-.261.237a8.174 8.174 0 0 1-.524.425c-.082.061-.172.121-.259.182-.225.155-.46.31-.718.461-.069.041-.144.082-.216.122-.296.167-.606.333-.94.494-.045.022-.093.043-.138.064-.373.176-.763.349-1.18.516l-.044.017c-2.27.906-5.172 1.667-8.554 2.167l-.066.009c-.653.096-1.324.182-2.012.257-.117.013-.241.021-.359.034-.602.062-1.21.12-1.835.165-.291.021-.595.032-.891.049-.471.027-.938.059-1.422.076a69.063 69.063 0 0 1-4.864 0c-.483-.018-.95-.049-1.422-.076-.296-.017-.6-.028-.891-.049a59.02 59.02 0 0 1-1.835-.165c-.118-.012-.242-.021-.359-.034a54.55 54.55 0 0 1-2.012-.257l-.066-.009c-3.382-.5-6.284-1.261-8.554-2.167l-.044-.017c-.417-.167-.807-.34-1.18-.516-.045-.021-.093-.042-.138-.064a16.347 16.347 0 0 1-.94-.494c-.072-.041-.146-.081-.216-.122a11.448 11.448 0 0 1-.718-.461c-.087-.061-.177-.121-.259-.182a8.174 8.174 0 0 1-.524-.425c-.09-.079-.18-.157-.261-.237a5.21 5.21 0 0 1-.582-.668 3.729 3.729 0 0 1-.231-.369 2.449 2.449 0 0 1-.259-.659c-.034-.161-.075-.324-.075-.484v-8.207c.12.109.257.216.387.324.072.059.139.12.214.179zM27 2c13.555 0 23 4.05 23 7.685 0 3.548-9.445 7.5-23 7.5s-23-3.952-23-7.5C4 6.05 13.445 2 27 2z")
    a(href='/logout' title='Выйти').icon-btn
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55")
            g(fill="#555")
                path(d="M53.924 24.382a1.001 1.001 0 0 0-.217-1.091L41.708 11.293a.999.999 0 1 0-1.414 1.414L50.587 23H29.001a1 1 0 1 0 0 2h21.586L40.294 35.293a.999.999 0 1 0 1.414 1.414l11.999-11.999c.092-.092.166-.203.217-.326z")
                path(d="M36.001 29a1 1 0 0 0-1 1v16h-10V8a1 1 0 0 0-.697-.953L8.442 2h26.559v16a1 1 0 1 0 2 0V1a1 1 0 0 0-1-1h-34c-.032 0-.06.015-.091.018-.056.005-.105.018-.158.032a.972.972 0 0 0-.259.108c-.026.016-.057.016-.082.034-.031.023-.055.052-.083.077-.017.016-.035.03-.051.047a1.04 1.04 0 0 0-.184.273c-.009.02-.014.04-.022.06a.998.998 0 0 0-.07.351v46c0 .125.029.243.072.355.014.037.035.068.053.103a.962.962 0 0 0 .415.416c.037.02.071.041.111.056.017.006.03.018.047.024l22 7A1.002 1.002 0 0 0 25.001 54v-6h11a1 1 0 0 0 1-1V30a1 1 0 0 0-1-1zm-13 23.633l-20-6.364V2.367l20 6.364v43.902z")
    form.accounts-form.-hidden
        input(name='accounts' type='file' accept='.json')
