extends layout
include mixins

block content
    .container.-main
        include ./header
        aside(class= !data.periods.length ? '-hidden' : '')
            h2.section-title Период
            ul.periods-list
                each period in data.periods
                    li.periods-item
                        a(href='/?year=' + period._id.year + '&month=' + (period._id.month - 1)) #{period._id.month < 10 ? '0' + (period._id.month) : period._id.month}.#{period._id.year}
        main
            section.accounts
                h2.section-title Аккаунты
                table.table.accounts-table
                    thead
                        tr
                            td.table-cell Почта
                            td.table-cell Группа
                            td.table-cell Лимит
                            td.table-cell Статус
                            td.table-cell.-right Дата начала
                            td.table-cell.-right Дата окончания
                            td.table-cell.-flex Действия
                    tbody
                        each item in data.accounts
                            tr(id=item._id)
                                td.table-cell!= item.email
                                td.table-cell!= item.group
                                td.table-cell!= item.limit
                                td.table-cell!= item.status
                                td.table-cell.-right!= item.active_from
                                td.table-cell.-right!= item.active_to
                                +actionCell(item.status)
                +addBtn
            section.groups
                h2.section-title Группы
                table.table.groups-table
                    thead
                        tr
                            td.table-cell ID
                            td.table-cell Название
                            td.table-cell.-flex Действия
                    tbody
                        each item in data.groups
                            tr
                                td.table-cell!= item._id
                                td.table-cell!= item.name
                                +actionCell
                +addBtn
            section.limits
                h2.section-title Лимиты (подгруппы)
                table.table.limits-table
                    thead
                        tr
                            td.table-cell ID
                            td.table-cell Название
                            td.table-cell.-flex Действия
                    tbody
                        each item in data.limits
                            tr
                                td.table-cell!= item._id
                                td.table-cell!= item.name
                                +actionCell
                +addBtn
    include ./modal
        block form
            form(method='POST').modal-form
                .large-form
                    .row
                        label!= 'Почта <span>*</span>'
                            input(type='email' name='email')
                    .row
                        label!= 'Группа <span>*</span>'
                            select(name='group')
                                each group in data.groups
                                    option(value=group._id) #{group.name} (#{group._id})
                    .row
                        label!= 'Лимит (подгруппа) <span>*</span>'
                            select(name='limit')
                                each limit in data.limits
                                    option(value=limit._id) #{limit.name} (#{limit._id})
                    .row
                        label Статус
                            select(name='status')
                                each status in data.status
                                    option(value=status._id)!= status.name
                        .hint По умолчанию "Не активен". Поле нужно явно задавать, если аккаунт был активирован вручную
                    .row
                        label Дата начала
                            input(type='date' name='start_date')
                        .hint Если поле не заполнено, при нажатии кнопки "Добавить" будет отправлен запрос на активацию
                    .row
                        label!= 'Дата окончания <span>*</span>'
                            input(type='date' name='end_date')
                .short-form
                    .row
                        label Префикс (ID)
                            input(type='text' name='id')
                    .row
                        label Название
                            input(type='text' name='name')
                .row
                    span.error-message
                .row
                    button(type='submit').large.btn Добавить
                    button(type='submit').short.btn Добавить