doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title= title
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
        link(rel='stylesheet', href='/styles/style.css')
    body
        .alert.-hidden
        block content
        script(src='/js/main.js')
