mixin addBtn
    button.add(type="button")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612")
            path(d="M306 0C136.992 0 0 136.992 0 306s136.992 306 306 306 306-137.012 306-306S475.008 0 306 0zm0 573.75C158.125 573.75 38.25 453.875 38.25 306S158.125 38.25 306 38.25 573.75 158.125 573.75 306 453.875 573.75 306 573.75zm114.75-286.875h-95.625V191.25c0-10.557-8.568-19.125-19.125-19.125s-19.125 8.568-19.125 19.125v95.625H191.25c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h95.625v95.625c0 10.557 8.568 19.125 19.125 19.125s19.125-8.568 19.125-19.125v-95.625h95.625c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125z" fill="#FFF")

mixin actionCell(status)
    td.table-cell.-flex
        if (status)
            button(type='button' data-action=status === 'Активен' ? 'deactivate' : 'activate').activation-btn.-icon
                if status === 'Активен'
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 510")
                        path(d="M242.25 510c28.05 0 51-22.95 51-51h-102c0 28.05 22.95 51 51 51zM408 216.75c0-79.05-53.55-142.8-127.5-160.65V38.25C280.5 17.85 262.65 0 242.25 0S204 17.85 204 38.25V56.1c-12.75 2.55-25.5 7.65-35.7 12.75L408 308.55v-91.8zm-7.65 216.75l51 51 33.15-33.15L58.65 25.5 25.5 58.65l73.95 73.95c-15.3 25.5-22.95 53.55-22.95 84.15V357l-51 51v25.5h374.85z" fill="#FFF")
                else
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 510")
                        path(d="M467.812 431.851l-36.629-61.056a181.363 181.363 0 0 1-25.856-93.312V224c0-67.52-45.056-124.629-106.667-143.04V42.667C298.66 19.136 279.524 0 255.993 0s-42.667 19.136-42.667 42.667V80.96C151.716 99.371 106.66 156.48 106.66 224v53.483c0 32.853-8.939 65.109-25.835 93.291L44.196 431.83a10.653 10.653 0 0 0-.128 10.752c1.899 3.349 5.419 5.419 9.259 5.419H458.66c3.84 0 7.381-2.069 9.28-5.397 1.899-3.329 1.835-7.468-.128-10.753zM188.815 469.333C200.847 494.464 226.319 512 255.993 512s55.147-17.536 67.179-42.667H188.815z" fill="#FFF")
        button(type='button').put-btn.-icon
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.25 55.25")
                path(d="M52.618 2.631c-3.51-3.508-9.219-3.508-12.729 0L3.827 38.693c-.017.017-.027.038-.042.056-.021.024-.039.05-.058.076a.972.972 0 0 0-.125.239c-.009.026-.022.049-.029.075l-.012.03-3.535 14.85a.991.991 0 0 0-.022.202c0 .013-.004.025-.004.038a.995.995 0 0 0 .095.403c.049.107.11.21.196.296a1.006 1.006 0 0 0 .938.266l14.85-3.535c.027-.006.051-.021.077-.03a.985.985 0 0 0 .3-.162c.024-.019.049-.033.072-.054.008-.008.018-.012.026-.02L52.617 15.36c3.51-3.51 3.51-9.22.001-12.729zm-1.414 1.414c2.488 2.489 2.7 6.397.65 9.137l-9.787-9.787c2.741-2.05 6.649-1.838 9.137.65zm-4.95 14.85l-9.9-9.9 1.414-1.414 9.9 9.9-1.414 1.414zM4.961 50.288a.999.999 0 0 0-1.414 0l-.757.757 2.554-10.728 4.422-.491-.569 5.122c-.004.038.01.073.01.11 0 .038-.014.072-.01.11.004.033.021.06.028.092a1.016 1.016 0 0 0 .245.473c.048.051.1.094.157.134.045.031.088.06.138.084.066.031.135.049.207.066.038.009.069.03.108.035a.982.982 0 0 0 .109.006h.004a.995.995 0 0 0 .109-.006l5.122-.569-.491 4.422-10.729 2.554.757-.757a1 1 0 0 0 0-1.414zm12.55-5.479L39.889 22.43a.999.999 0 1 0-1.414-1.414L16.097 43.395l-4.773.53.53-4.773 22.38-22.378a.999.999 0 1 0-1.414-1.414L10.44 37.738l-3.183.354L34.94 10.409l9.9 9.9-27.683 27.683.354-3.183zm31.571-28.742l-9.9-9.9 1.415-1.415 9.9 9.9-1.415 1.415z" fill="#FFF")
        button(type='button').delete-btn.-icon
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 774.266 774.266")
                g(fill="#FFF")
                    path(d="M640.35 91.169H536.971V23.991C536.971 10.469 526.064 0 512.543 0c-1.312 0-2.187.438-2.614.875-.438-.437-1.313-.875-1.75-.875H261.722c-13.521 0-23.99 10.469-23.99 23.991V91.17H133.916c-29.667 0-52.783 23.116-52.783 52.783v86.368h45.803v491.6c0 29.668 22.679 52.346 52.346 52.346h415.703c29.667 0 52.782-22.678 52.782-52.346v-491.6h45.366v-86.368c0-29.667-23.125-52.784-52.783-52.784zM285.713 47.981h202.84v43.188h-202.84V47.981zm313.636 673.941c0 3.061-1.312 4.363-4.364 4.363H179.282c-3.052 0-4.364-1.303-4.364-4.363V230.32h424.431v491.602zm45.366-539.583H129.551v-38.387c0-3.053 1.312-4.802 4.364-4.802H640.35c3.053 0 4.365 1.749 4.365 4.802v38.387z")
                    path(d="M475.031 286.593h48.418v396.942h-48.418zM363.361 286.593h48.418v396.942h-48.418zM251.69 286.593h48.418v396.942H251.69z")