extends layout
include mixins

block content
    .container.-main
        include ./header
        section.users
            h2.section-title Пользователи
            table.table.users-table
                thead
                    tr
                        td.table-cell Почта
                        td.table-cell Права
                        td.table-cell.-flex Действия
                tbody
                    each user in users
                        tr
                            td.table-cell!= user._id
                            td.table-cell!= user.permissions
                            +actionCell
            +addBtn
    include ./modal
        block form
            form(method='POST').modal-form
                .short-form
                    .row
                        label Почта
                            input(type='text' name='id')
                    .row
                        label Права
                            select(name='permissions')
                                option(value='admin' selected) Администратор
                                option(value='viewer') Обозреватель
                .row
                    span.error-message
                .row
                    button(type='submit').short.btn Добавить