html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 18px Roboto, Arial, sans-serif;
}

button {
  outline: none;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &.-main {
    padding: 80px 40px 40px;

    main {
      position: relative;
      width: 1040px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    aside {
      width: 240px;
    }
  }
}

.actions {
  position: absolute;
  display: flex;
  height: 30px;
  top: 80px;
  right: 40px;
}

.icon-btn {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon-btn + .icon-btn {
  margin-left: 20px;
}

.section-title {
  margin: 0 0 40px;
}

.form {
  margin: auto;

  &-row {
    margin-bottom: 30px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
      color: #555;
    }

    input {
      display: block;
      width: 280px;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 18px;
      color: #555;
      border: 1px solid #555;
      background-color: transparent;
    }
  }

  &-footer {
    button {
      display: block;
      width: 200px;
      height: 40px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      border: none;
      border-radius: 5px;
      background-color: #0B93CF;
    }
  }
}

a {
  color: #0B93CF;
}

.accounts {
  margin-bottom: 40px;
  width: 100%;
}

.groups, .limits, .users {
  width: 40%;
}

.add {
  display: flex;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  background-color: #25cf76;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  svg {
    margin: auto;
    width: 25px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  &-cell {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;

    thead & {
      font-weight: 700;
    }

    &.-nopadd {
      padding: 0;

      button {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #0B93CF;
        cursor: pointer;
      }
    }

    &.-right {
      text-align: right;
    }

    &.-flex {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      border: 0;

      button {
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        border-radius: 5px;
        cursor: pointer;

        & + button {
          margin-left: 10px;
        }

        &.delete-btn {
          background-color: #EF4737;
        }
        &.put-btn {
          background-color: #0B93CF;
        }
        &.activation-btn {
          background-color: #9aa899;
        }
        &.-icon {
          display: flex;

          svg {
            margin: auto;
            width: 25px;
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }

  &-content {
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: auto;
    z-index: 10;

    .modal-form {
      width: 600px;

      .row {
        padding: 10px;

        label {
          input, select {
            display: block;
            margin-top: 10px;
          }
          span {
            font-size: 14px;
            color: #EF4737;
          }
        }

        input {
          display: block;
          width: 280px;
          height: 40px;
          padding: 0 15px;
          font-size: 16px;
          color: #555;
          border: 1px solid #555;
          border-radius: 6px;
          background-color: transparent;
        }

        select {
          width: 280px;
          height: 40px;
          padding: 0 15px;
          font-size: 16px;
          color: #555;
          border: 1px solid #555;
          border-radius: 6px;
          background-color: transparent;
        }

        button {
          display: block;
          margin-top: 30px;
          width: 180px;
          height: 40px;
          color: #fff;
          border: 0;
          border-radius: 6px;
          background-color: #0B93CF;
          cursor: pointer;
        }

        .error-message {
          font-size: 16px;
          color: #EF4737;
        }
      }
    }

    .short-form, .large-form {
      display: none;

      &.-active {
        display: block;
      }
    }
  }
  
  &[data-view='off'] {
    pointer-events: none;

    .modal-shadow {
      opacity: 0;
      transition: opacity .2s .2s;
    }
    
    .modal-content {
      opacity: 0;
      transform: translate(0, 50px) scale(0.9);
      transition: transform .2s, opacity .2s;
    }
  }
  &[data-view='on'] {
    pointer-events: all;

    .modal-shadow {
      opacity: 1;
      transition: opacity .2s;
    }

    .modal-content {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      transition: transform .2s .2s, opacity .2s .2s;
    }
  }

  .hint {
    max-width: 280px;
    margin-top: 8px;
    font-size: 12px;
    color: rgba(225, 0, 3, 0.44);
    line-height: 1.2;
  }
}

.-hidden {
  display: none;
}

[readonly] {
  color: rgba(0,0,0,.3) !important;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.2);
  color: #fff;
  z-index: 10;

  &.-loading {
    background-color: rgba(11, 147, 207, .8);
  }
  &.-success {
    background-color: rgba(37, 207, 118, .8);
  }
  &.-error {
    background-color: rgba(239, 71, 55, .8);
  }
}

.periods {
  &-list {
    margin: 0;
    margin-right: 25px;
    padding: 0;
    max-height: 450px;
    overflow: auto;
    list-style: none;
  }

  &-item {
    display: flex;
    height: 40px;

    a {
      padding: 0 15px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      background-color: #0B93CF;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      transition: background .15s;

      &:hover {
        background-color: #0bafee;
      }
    }
  }
}